#cut{
    height: 100%;
}
.container{
    padding:0;
}

/*==================*/

#nav{
    /*background: red;*/
   
}
#nav .container{
    height: 34px;
}
#nav .nav-l{
    height: 34px;
    line-height: 34px;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    width: 228px;
    position:relative;
}
#nav .nav-l>span{
    float: left;
    width: 112px;
    height: 34px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #E1E1E1;
    color: #666;
}
#nav .nav-l>span>a{
    color:#666;
    text-decoration: none;
}
}
#nav .nav-l>span>a:hover{
    text-decoration: none;
}
#nav .nav-l>span:nth-child(1){
     border-right: 1px solid #E1E1E1;
     width: 116px;
}
#nav .nav-l i{
    width: 16px;
    height: 13px;
    display: inline-block;
    background: url(../img/bg2.png) no-repeat -17px -1257px;
}
#nav .nav-l i:nth-child(2){
    background-position: -15px -1272px;
}
#nav .nav-l>span.one{
     background: #1B8CCB;
}
/*=====狗狗下的列表======*/
#nav .nav-l .tu{
    width: 228px;
    height: 360px;
    position: absolute;
    top:35px;
    /*display:none;*/
}
#nav .nav-l .tu>div{
    height: 120px;
    background: #F5F5F5;
    padding:25px 0 0 20px;
}
#nav .nav-l .tu>div .left{
    float:left;
    height: 62px;
    width: 67px;
}
#nav .nav-l .tu>div .left>a{
    display: block;
    height: 63px;
    height: 62px;
    background:url(../img/new_petcate.png) no-repeat 0 2px;
}
#nav .nav-l .tu>div .right{
    height: 62px;
    width: 110px;
    float:left;
    font-size: 12px;
    margin-left: 6px;
}
#nav .nav-l .tu>div .right>p{
    line-height: 28px;
    color:#000;
}
#nav .nav-l .tu>div .right>p>b{
    color:#F03E71;
}
#nav .nav-l .tu>div .right>a{
    display: block;
    width: 110px;
    line-height: 30px;
    border: 1px solid #AEAEAE;
    color:#BDAEBD;
    border-radius: 3px;
}

#nav .nav-l .tu .two{
    border-bottom: 1px dotted #CCC;
    height: 120px;
}
/*======第二个图片=====*/
#nav .nav-l .tu .two .left a{
     background:url(../img/new_petcate.png) no-repeat 0 -59px;
}
/*======第三个图片=====*/
#nav .nav-l .tu .three .left a{
     background:url(../img/new_petcate.png) no-repeat 0 -120px;
}

/*====第二个a颜色边框====*/
#nav .nav-l .tu .two .right a{
    border-color: #E769B6;
    color: #E769B6;
}
/*#nav .nav-l .tu .three{
   height: 120px;
}*/

/*====第三个a颜色边框====*/
#nav .nav-l .tu .three .right a{
    border-color:#53C5F1;
    color: #53C5F1;
}

/*end*/

#nav .nav-l .list{
    width: 228px;
    height: 360px;
    background:#FCFCFC;
    position: absolute;
    top:35px;
    text-align: left;
    display: none;
}
#nav .nav-l .list>ul>li{
    padding:0 10px;
    line-height: 50px;
    
}
#nav .nav-l .list>ul>li>h4{
    padding-left: 5px;
    border-bottom:1px dotted #B1C1C1;
    background: url(../img/r.png) no-repeat right center;
}
#nav .nav-l .list>ul>li>h4>a{
    font-size: 14px;
    display: inline-block;
    height: 50px;
    padding-right: 35px;
    color: #444;
    line-height: 50px;
}
#nav .nav-l .list>ul>li>h4>a>span{
    color: #999;
    margin-left: 5px;
}
#nav .nav-l .list>p{
    line-height: 50px;
    color: #22990D;
    padding-left: 10px;
}
#nav .nav-l .list>p>a{
    height: 24px;
    padding: 0 9px;
    border-radius: 8px;
    background: #fb6003;
    color: #fff;
    margin-left: 1px;
}
#nav ul.muen li{
    float:left;
    height: 34px;
    line-height: 34px;
}
#nav ul.muen li a{
    display: inline-block;
    height: 100%;
    padding:0 25px;
    position: relative;
    color: #000;
    text-decoration: none;
}
#nav ul.muen li i{
    display:inline-block;
    width: 13px;
    height: 17px;
    background: url(../img/bg2.png) no-repeat -35px -1280px;
    position: absolute;
    top:9px;
    left:5px;
}
#nav ul.muen li:hover a{
    color: #409b49;
  
}
#nav ul.muen li:hover i{
    transition: transform .2s ease-in;
    transform: rotate(360deg);
}
/*=================================*/
#footer{
    
    height: 450px;
    background:#DC6A6A;
}
#footer .container{
    height: 450px;
    
}
#footer .footer-t{
    height: 101px;
    background: #DC6A6A;
    border-bottom: 1px solid #E5E5E5;
}
#footer .footer-t>ul{
    height: 101px;
    padding:19px 0;
    margin-bottom: 20px;
}
#footer .footer-t>ul li{
    float:left;
    width: 195px;
}
#footer .footer-t>ul li a{
    padding-left: 72px;
    display: inline-block;
    height: 62px;
    line-height: 62px;
    background: url(../img/logo3.png) no-repeat 0 0;
    color:#444;
    font-weight: 700;
    transition: all .8s ease; 
}
#footer .footer-t>ul li a:hover{
    transform: translateY(-5px);
    text-decoration: none;
}
#footer .footer-t>ul li:nth-child(2) a{
    background-position:0 -80px ;
}
#footer .footer-t>ul li:nth-child(3) a{
    background-position:0 -160px ;
}
#footer .footer-t>ul li:nth-child(4) a{
    background-position:0 -320px ;
}
#footer .footer-t>ul li:nth-child(5) a{
    background-position:0 -402px ;
}
#footer .footer-t>ul li:nth-child(6) a{
    background-position:0 -402px ;
}

#footer .footer-t .links{
    height: 183px;
    border-bottom: 1px solid #E5E5E5;
}
#footer .footer-t .links-1{
    width: 350px;
    height: 100%;
    background: url(../img/dog_phone.gif) no-repeat 0 10px;
    padding-left: 133px;
}
#footer .footer-t .links-1 h3{
    line-height: 30px;
    color:#666;
}
#footer .footer-t .links-1 .p1{
    line-height: 46px;
    color:#666;
}
#footer .footer-t .links-1 .p2{
    line-height: 36px;
    font-size: 16px;
    color:#666;
}
#footer .footer-t .links-1 .p1 span{
    font-size: 12px;
}
#footer .footer-t .links-1 .p3{
    padding-top: 11px;
    font-size: 12px;
}
#footer .footer-t .links-2{
    margin:0 83px 0 0;
}
#footer .footer-t .one{
    margin-left: 40px;
}
#footer .footer-t .links-2 dt{
   line-height: 30px;
   color:#666;
   margin-bottom: 10px;
}
#footer .footer-t .links-2 dd{
    line-height: 24px;
    color: #444;
}

#footer .footer-t .links-r{
    width: 221px;
    height: 100%;
    padding:0 10px;
}
#footer .footer-t .links-r .l{
    width: 92px;
}
#footer .footer-t .links-r .l>p{
    font-size: 14px;
    text-align: center;
    color: #000;
}
#footer .footer-t .links-r .l>img{
    margin-top: 10px;
}


#footer .footer-t .ship{
    height: 34px;
    font-size: 12px;
    color:#999;
    line-height: 34px;
    margin-top: 11px;
}
#footer .footer-t .ship>span:nth-child(2)>a{
    display:inline-block;
    font-size: 12px;
    color:#999;
    padding-right: 10px;
}
#footer .footer-t .ship p{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    transform: rotate(225deg);
    margin-left: 100px;
}
#footer .footer-t .imgs{
    line-height: 56px;
    text-align: center;
}
#footer .footer-t .imgs a{
    display: inline-block;
}
#footer .footer-t .ziti{
    height: 64px;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;

}

/*=======================*/
#banner{
   
   margin-bottom: 30px;
    background: yellow;
}
#banner .container{
    height: 360px;
     position: relative;
     padding:0;
}
#banner .left{
    width: 228px;
    height: 100%;
    display:inline-block;
    
    
}
#banner .right{
    width: 200px;
    height: 100%;
    background: #fff;
}
#banner .center{
    width: 770px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    margin-left: -2px;
}
#banner .center .le{
    margin-left: -240px;
}
#banner .center .le li{
    color:#000;
    width: 14px;
    height: 14px;
}
.carousel-indicators .active{
    background: red;
}
#banner .right{
    position: absolute;
    right:0;
    top:0;
}
#banner .right>div {
    overflow:hidden;
    display: inline-block;
    height: 110px;
}
#banner .right>div img{
    transition: all .4s ease-out;
    cursor: pointer;
}
#banner .right>div:hover img{
    margin-left: -12px;
}

/*===========hot========*/
#hot{

}
#hot .container{
    height: 460px;
}
#hot .hot-l{
    height: 100%;
    width: 328px;
    background: red;
    background: url(../img/everydayBgNew.png) no-repeat;
    overflow:hidden;
}
#hot .hot-l>p{
    height: 23px;
    width: 63px;
    background:url(../img/jxz.png) no-repeat;
    margin-top: 180px;
    margin-left: 220px;
}
#hot .hot-l .nz{
    height: 40px;
    width: 110px;
    background: url(../img/clock.png) no-repeat left;
    margin-left: 106px;
    margin-top: -15px;
    line-height: 40px;
    font-size: 24px;
    padding-left: 30px;
    color:#fff;
    font-weight: 800;
}
#hot .hot-l .app{
    width: 154px;
    line-height: 38px;
    margin-top: 141px;
    margin-left: 42px;
    background:url(../img/downappbg.png) no-repeat;
    color :#fff;
    text-align: center;
}
#hot .hot-l .pl{
    width: 280px;
    line-height: 32px;
    background: #FF7188;
    color:#fff;
    font-size: 12px;
    text-align: center;
    margin-left: 22px;
    border-radius: 15px;
}
#hot .hot-r{
    width: 872px;
    height: 100%;
    padding-left: 12px;
    padding-top: 10px;
    border:1px solid #e7e7e7;
    border-left: 0;
    position: relative;
}
#hot .hot-r .kk{
    position: absolute;
    left:0;
    top:190px;
    z-index: 130;
    height: 64px;
    width: 29px;
    background: url(../img/index-ico.png) no-repeat -12px -76px;
}
#hot .hot-r .kr{
    top:190px;
    left:815px;
    background-position: -45px -76px;
}
#hot .hot-r .t{
    width: 860px;
    height: 67px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

}
#hot .hot-r .t>ul{
    height: 60px;
    background: #fff;
    overflow: hidden;
   
    border-bottom: 1px dotted #999;
}
#hot .hot-r .t>ul>a:nth-child(1){
    display:block;
    width: 20px;
    height: 30px;
    background: url(../img/index-ico.png) no-repeat;
    background-position: -76px -16px;
    position: absolute;
    top: 13px;
    left: 0px;
    z-index: 100;
}
#hot .hot-r .t>ul>a:nth-child(2){
    display:block;
    width: 20px;
    height: 30px;
    background: url(../img/index-ico.png) no-repeat;
    background-position: -57px -16px;
    position: absolute;
    top: 13px;
    right: 18px;
    z-index: 100;
}
#hot .hot-r .t>ul>li{
    float:left;
    width: 117px;
    height: 60px;
    padding-top: 5px;
    text-align: center;

}
#hot .hot-r .t>ul>li>span{
    font-size: 12px;
    color:#999;
}

#hot .hot-r .item{
    height: 364px;
    width: 100%;
   
}
#hot .hot-r .item>ul{
    height: 364px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    overflow:hidden;
}
#hot .hot-r .item>ul>li{
    width: 200px;
    height: 354px;
    background: #fff;
    float:left;
}
#hot .hot-r .item>ul>li>div.one{
    height: 55px;
    width: 55px;
    background:url(../img/fqls.png) no-repeat;
    padding-top: 28px;
    text-align: center;
    font-size: 12px;
    color:#fff;

}

.op{
    width: 100%;
    text-align: center;
}
#hot .hot-r .item>ul>li>div.two{
    width: 157px;
    height: 156px;
    background: url(../img/good1.jpg@!200w-c);
    
}
#hot .hot-r .item>ul>li>p.name{
    height: 30px;
    width: 160px;
    font-size: 12px;
    margin:11px 0 0 0;
    padding-left: 3px;
    margin-left: 15px;
    cursor:pointer;
}
#hot .hot-r .item>ul>li>p.name:hover{
    color:#248DCC;
}
#hot .hot-r .item>ul>li>div.three{
    height: 26px;
    margin-top: 5px;
    color:#DD2727;
    margin-left: 2px;
    width: 160px;
    margin-left: 15px;
}
#hot .hot-r .item>ul>li>div.three>i{
    margin-left: 42px;
       color:#999;
}
#hot .hot-r .item>ul>li>div.three>span{
    font-size: 20px;
}
#hot .hot-r .item>ul>li>div.three>s{
    font-size: 16px;
    text-decoration: line-through;
    color:#999;
    width: 100%;
}
#hot .hot-r .item>ul>li>h5>a{
    display:block;
    color: #fff;
    background: #cdcdcd;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    margin-left: 30px;
}
#hot .hot-r .item>ul>li>h5>a:hover{
    text-decoration: none;  
}




/*====================狗粮=======================*/
#ping{
    height: 580px;
    margin-top: 30px;
}
#ping .container{
    height: 580px;
    position: relative;
}
#ping .dog{
    height: 35px;
    background: yellow;
    position: relative;
    padding-left: 40px;
   /* background: red;*/
    font-size: 20px;
}
#ping .dog>i{
    width: 30px;
    position: absolute;
    height: 30px;
    left:5px;
    top:1px;
    display:inline-block;
    background: url(../img/cate_5.png) no-repeat;
}
#ping .dog>i.ii2{
    background: :url(../img/cate_6.png) no-repeat;
}
#ping .dog>i.i33{
    background: :url(../img/cate_49.png) no-repeat;
}
#ping .dog>i.i44{
    background: :url(../img/cate_54.png) no-repeat;
}
#ping .dog>i.i55{
    background: :url(../img/cate_55.png) no-repeat;
}
#ping .left{
    height: 477px;
    width: 328px;
    background: url(../img/620c91c66f07dccacba793b923390093.jpg@!water) no-repeat;
}
#ping .left>a{
    display:block;
    height: 300px;
}
#ping .left .list_c{
    width: 100% ;
    height: 178px;
    padding:15px 13px 15px 15px;
    background: rgba(255,255,255,.7);
    padding:15px;
}
#ping .left .list_c>div{
    line-height: 30px;
    height: 30px;
    margin-bottom: 8px;
}
#ping .left .list_c>div>span{
    display:inline-block;
    width: 87px;
    height: 30px;
    overflow:hidden;
}
#ping .left .list_c>div>i{
    display:inline-block;
    height: 27px;
    width: 27px;
    background: url(../img/index-ico.png) no-repeat -113px -170px;
    margin-left: 5px;
}
#ping .left .list_c>div>b{
    position: relative;
    top:-8px;
    margin:0 10px 0px 5px;
}
#ping .left .list_c>ul li{
     float:left;
     background:#fff;
    border-radius: 30px;
    text-align: center;
    width: 89px;
    margin-top: 10px;
    margin-right: 10px;
}
#ping .left .list_c>ul li>a{
     display:block;
    margin-right: 5px;
    /*padding: 0 5px;*/
    overflow: hidden;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px;
    overflow: hidden;
    font-size: 10px;
    text-decoration: none;
    color:#000;
}
#ping .rtt{
    height: 477px;
    width: 872px;
}
#ping .rtt .s_nav{
    width: 873px;
    height: 35px;
    background: #fff;
    top:0px;
    position:absolute;
    border-right: 1px solid ccc;
}
#ping .rtt .s_nav>ul{
    position: absolute;
    right:0;
    width: 322px;
    height: 35px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right:1px solid #ccc;
}
#ping .rtt .s_nav>ul>li{
    float:left;
    cursor: pointer;
}
#ping .rtt .s_nav>ul>li>div{
    padding: 5px 0;
}
#ping .rtt .s_nav>ul>li>div>span{
    padding: 0 15px;
    border-right: 1px solid #e7e7e7;
    font-size: 14px;
}
.act{
    border-left: 1px solid #459d36;
    border-right: 1px solid #459d36;
    border-top: 3px solid #459d36;
    margin-left: -2px;
    border-bottom: 1px solid #fff;
}
ul_b{
    border-bottom: 1px solid  #459d36;
}
#ping .rtt .imgbox{
    height: 299px;
    width: 100% ;
    position: relative;
}
#ping .rtt .imgbox .bigimg{
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
#ping .rtt .imgbox .font{
    width: 160px;
    height: 45px;
    position: absolute;
    top:30px;
    left:27px;
}
#ping .rtt .simg{
    width: 479px;
    height: 299px;
    position: relative;
}
#ping .rtt .simg .rimg{
     border-bottom: 1px solid #e7e7e7;
     position: relative;
     width: 483px;
     border-right:1px solid #ccc;
}
#ping .rtt .timgbox{
    width: 873px;
    height: 179px;
    background:#fff;
    border-right: 1px solid #ccc;
  
}

#ping .rtt .timgbox .boximg{
    width: 290px;
    height: 177px;
    border-right: 1px solid #e7e7e7;
    position: relative;
    float:right;
    background: #F9F9F9;
}
#ping .rtt .timgbox .boximg .font_t{
    width: 160px;
    height: 45px;
    position: absolute;
    top:30px;
    left:27px;
}
#ping .tubiao{
    width: 1200px ;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#ping .tubiao>ul>li{
    float:left;
    width: 150px;
}
#ping .tubiao>ul>li>a{
    display:block;
}
#ping .tubiao>ul>li:last-child{
    width: 148px;
}


